# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Secrets
.env
*.env.local

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# Spring Boot
spring-shell.log
